html, body {
  height: 100%;
  margin: 0;
}


.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures wrapper fills the screen */
}

main {
  flex: 1; /* Pushes footer down if there's not enough content */
  background-color: rgb(248, 249, 251);
}

.dark main{
  background-color: rgb(20, 20, 22);
}